.logo {
	position: relative;
	top: 20px;
	left: 5px;
}

.exp {
	color: blue;
}

.exp:hover {
	color: green;
	text-decoration: underline;
}

#main {
	width: 75%;
	margin: 0px auto;
	background-color: lightgray;
	padding: 25px;
}

#main2 {
	width: 75%;
	margin: 0px auto;
	background-color: lightgray;
	padding: 25px;
}

#main2 h2 {
	text-align: center;
}

#main2 p {
	text-align: center;
}

#load {
	background-image: url(load.gif);
	background-repeat: no-repeat;
	padding: 50px;
	background-position: center;
	background-size: 75px 75px;
}

#main form {
	width: 45%;
	margin: 0px auto;
}

#main form fieldset legend {
	border: 2px solid red;
	background-color: orange;
	color: white;
	padding: 5px;
}